header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url(images/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin-top: -6vh;
  margin-left: -1vh;
  margin-right: -1vh;
}
body{
    background-color: #001A45;
}

figcaption {
    font-size: 5vh;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;

  }

#content{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  border: 1vh;
}
figcaption{
  font-size: 2vh;
  align-items: center;
  justify-content: center;
}
figure img {
  max-width: 100%;
}
h1{
  font-size: 10vh;
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-bottom: 0%;
  margin-bottom: 0%;
}


ul{
  list-style: none;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;

}
button{
  background-color: #452b00;
  color: white;
  padding: 2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s;
  border: 2px solid transparent; /* Set a transparent border by default */
  font-family: 'Merriweather', serif;

  
}
button:hover{
  background-color: transparent;
  border: 2px solid #452b00; /* Change border color on hover */
  color: white;
  padding: 2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
    font-family: 'Merriweather', serif;

}

.grid-item{
  border: 0.5vh solid transparent;
  transition: all 0.2s;
  margin: 0;
  padding-bottom: 0%;
}

.grid-item:hover{
 border: 0.5vh solid white;
 margin: 0;
 padding-bottom: 0%;

}

hr{
  border: 1px solid #452b00;
}

p1{
    color: white;
   font-family: 'Merriweather', serif;
    text-align: center;

}

p2{
  color: white;
  font-family: 'Merriweather', serif;
   text-align: center;
   font-size: 3vh;
   padding-top: 0%;
   margin-top: 0%;
}

.header{
  align-items: center;
  text-align: center;
  justify-content:center;
}

.submit{
  background-color: #452b00;
  color: white;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  transition: all 0.2s;
  border: 2px solid transparent; /* Set a transparent border by default */
  font-family: 'Merriweather', serif;
}

.submit:hover{
  background-color: transparent;
  border: 2px solid #452b00; /* Change border color on hover */
  color: white;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  cursor: pointer;
    font-family: 'Merriweather', serif;

}

h2{
  color: white;
  font-family: 'Merriweather', serif;
   text-align: center;
   font-size: 3vh;
   padding-top: 0%;
   margin-top: 0%;
}

/* Make images 50% in size and style them as buttons */
.oneRec img,
.oneRecOdd img {
  width: 50%; /* Resize the images to 50% */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #452b00; /* Add a border to style them as buttons */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover to indicate interactivity */
  transition: all 0.2s; /* Add a transition effect on hover */
}

/* Adjust the hover effect for the buttons */
.oneRec img:hover,
.oneRecOdd img:hover {
  background-color: transparent; /* Change background on hover */
  border: 2px solid white; /* Change border color on hover */
  color: white; /* Text color on hover */
}

figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70%;
  max-height: fit-content;
}
